# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore CSV files
*.csv

# Ignore Parquet files
*.parquet

# Ignore SQLite database files
*.sqlite
*.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data directories
data/
datasets/
output/

# Ignore temporary and system files
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# Ignore virtual environment folders
env/
venv/

# Ignore IDE-specific project files
.idea/
.vscode/
